* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

h1 {
    text-align: center;
    padding: 20px;
}

#a {
    float: left;
}

#b {
    float: right;
}

#c {
    float: left;
}

#d {
    float: right;
}

#e {
    clear: both;
    width: 100%;
    font-size: 1.5em;
    overflow-y: scroll;
}


#mainp {
    border: 2px solid red;
}

span {
    border: inherit;
}