* {
    box-sizing: border-box;
}

#first {
    width: 70%;
    float: left;
    background-color: greenyellow;
    border: 1px solid #000;
}

#second {
    float: left;
    width: 30%;
    background-color: aqua;
}